footer {
  max-width: 100vw;
  width: 100%;
  padding: 4rem 2rem 2rem;
  margin-inline: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;

  & .logo {
    display: flex;
    align-items: center;
    gap: 0.75rem;

    font: 700 1.25rem / 1.3 "Syne", sans-serif;

    & img {
      width: 2rem;
      transition: rotate 0.35s;

      &:hover {
        rotate: 90deg;
      }
    }
  }

  & nav {
    display: flex;
    gap: 2rem;

    & a {
      width: fit-content;
      position: relative;

      &:hover::after {
        transform: scaleX(1);
        opacity: 1;
      }
    }

    & a::after {
      content: "";
      width: 100%;
      height: 2px;
      background-color: var(--brand-blue);

      position: absolute;
      bottom: 0;
      opacity: 0;
      left: 0;

      transform: scaleX(0);
      transition: transform 0.2s ease-in-out;
    }
  }

  & .social {
    display: flex;
    align-items: center;

    & a {
      width: 2.5rem;
      height: 2.5rem;

      position: relative;

      display: flex;
      align-items: center;
      justify-content: center;

      border-radius: 5rem;

      &::before {
        content: "";
        width: inherit;
        height: inherit;

        position: absolute;

        border-radius: inherit;

        background-color: var(--brand-yellow);

        top: 0;
        left: 0;
        z-index: -1;

        transition: scale 0.2s ease-in-out;
        scale: 0;
      }

      &:hover::before {
        scale: 1;
      }
    }
  }
}
